<component name="ArtifactManager">
  <artifact type="war" name="SpringBaseSettings:war">
    <output-path>$PROJECT_DIR$/SpringBaseSettings/target</output-path>
    <root id="archive" name="spting-base-setting.war">
      <element id="artifact" artifact-name="SpringBaseSettings:war exploded" />
    </root>
  </artifact>
</component>